[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
textblob = "*"
matplotlib = "*"
seaborn = "*"
networkx = "*"
nltk = "*"
scikit-learn = "*"
pandas = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
